.msidebar{
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 25vw;
  background: rgba(255,255,255,0.91);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
  z-index: 500;
  overflow-y: scroll;
  backdrop-filter: blur(6px);
  max-height: 100vh;
}

.mwidget {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  /*border-bottom: solid 1px grey;*/
}

.mwidget .thead-light{
  opacity: 1;
}

.mwidget .card-stats .card-body{
  padding: 10px;
}

.mwidget .card {
  background: rgba(0,0,0,0.7);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


.new-line {
  white-space: pre-line;
}

.mainmap{
  width : 100vw;
  height: 100vh;
  min-height: 100vh;
}





/*++++ MOSAIC ++++*/
.left{
  width: 20vw;
  height: 100vh;
  position: fixed;
  z-index: 1900;
  left: 0px;
  top: 4vh;
  /*background: red;*/
}

.right{
  width: 20vw;
  height: 100vh;
  position: fixed;
  z-index: 1900;
  right: 0px;
  top: 4vh;
  /*background: red;*/
}


.bottomm{
  width: 100vw;
  height: 13vh;
  position: fixed;
  z-index: 1900;
  bottom: 30px;
  left: 0px;
  /*background: red;*/
}

.bottomm .mwidget{
  background: rgba(0,0,0,0.0);
}

.top{
  width: 60vw;
  height: 20vh;
  position: fixed;
  z-index: 1900;
  top: 0px;
  left: 20vw;
  /*background: red;*/
}

.mwidget {
  transform: scale(0.9);
  opacity: 0.8;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  /*border-bottom: solid 1px grey;*/
  background: white;
}

.mwidget .gauge{
  height: 50px;
  width: auto;
}

.navmap{
  width: 100vw;
  height: 5vh;
  top:0px;
  position: fixed;
  z-index: 2000;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3));
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.mwidget .payloadind .col{
  align-content: center;
  /*background: rgba(0,0,0,0.5);*/
}

.mwidget .payloadind .wtitle{
  background: black;
  color: white;
  width: 100%;
}

#circli{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 98%, rgba(255,255,255,0.0) 100%);
  min-height: 200em !important;
  max-height: 200em !important;
}

.mwidget .table .thead-light th {
  color: #8898aa;
  background-color: #f6f9fc;
  border-color: #2f6d97;
}

.mwidget .table .thead-light th {
  background-color: #000000;
  color: #0074b9;
}

.mwidget .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #0074b9;
  background-color: black;
}

.mwidget .table th, .mwidget .table td {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #0a4e7b;
}

.mwidget .badge-danger {
  color: white;
  background-color: rgb(255 0 50 / 50%);
}


/*Mobiles*/

@media all and ( max-width: 720px ) and (orientation:portrait) {
  html{
    background: black;
  }
  .mainmap{
    position:relative;
    height: 50vh;
    min-height: auto;
    display:block;
  }

  .msidebar{
    height: auto;
    position: relative;
    width: 100vw;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 0px rgba(0,0,0,0.8);
    z-index: 900;
    overflow-y: auto;
    max-height: 500vh;
  }

  .mwidget .table{
    margin-bottom: 0px !important;
  }

  .left{
    width: 100vw;
    height: auto;
    position: inherit;
    background: black;
    clear:both;
  }

  .right{
    width: 100vw;
    height: auto;
    position: inherit;
    z-index: 1900;
    right: 0px;
    top: 4vh;
    background: black;
    clear:both;
  }


  .bottomm{
    width: 100vw;
    height: auto;
    position: inherit;
    z-index: 1900;
    bottom: 30px;
    left: 0px;
    background: black;
    clear:both;
  }

  .mwidget {
    transform: scale(1);
    opacity: 1;
    width: 100%;
    min-height: auto;
    max-height: auto;
    clear:both;
    position: inherit;
  }

  #circli{
    margin-top: 2em;
    min-height: auto  !important;
    max-height: 15vh  !important;
  }


  #circli *{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 98%, rgba(255,255,255,0.0) 100%);
    width: 35vw;
    max-height: 10vh;
    position: relative;
  }

  #circli .col{
    max-height: 10vh;
  }

  .navmap{
    width: 100vw;
    height: 5vh;
    top:0px;
    position: fixed;
    z-index: 2000;
    background: rgba(0,0,0,1);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }


  .bottomm .mwidget{
    background: rgba(0,0,0,0.0);
  }

  .mainmap{
    width : 100vw;
    height: 50vh;
    min-height: 50vh;
    position: inherit;
    top: 5vh;
  }

  .mosaic{
    height: auto;
  }
}
@media all and ( max-width: 720px ) and (orientation:landscape) {
  .mainmap{
    width : 100vw;
    height: 100vh;
    position: fixed;
  }
  .left, .right, .bottomm{
    display: none;
  }
}